<a href="https://colab.research.google.com/github/miguelsanchezrivas/2023-01-10clase1/blob/main/Challenge_4_MSR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Challenge 4: ¿Qué productos se venden juntos?

In [ ]:
import pandas as pd
import numpy as np

path = "/content/drive/MyDrive/2023-01-10 mineria/Challenge_4y5.csv"

In [ ]:
df = pd.read_csv(path)
#muestra = df.head(100)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df["totales"] = df.iloc[:, 2:].sum(axis=1)
df.head()

,Cliente,Producto,sem44,sem43,sem42,sem41,totales
0,500000055,BEBIDAS REFRESCANTES,0.4227,0.4227,0.000000,0.422700,1.268100
1,500000055,COLAS REGULAR INDIVIDUAL NO RETORNABLE,8.6016,6.0655,12.680500,8.601600,35.949199
2,500000055,COLAS REGULAR FAMILIAR RETORNABLE,26.7700,22.8953,46.847499,30.292399,126.805198
3,500000055,LECHE UHT SABORIZADA,0.1409,0.1057,0.000000,0.140900,0.387500
4,500000055,COLAS LIGHT INDIVIDUAL,0.0000,1.2680,2.536000,1.268000,5.072000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 7 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   Cliente   1000000 non-null  int64
 1   Producto  1000000 non-null  object
 2   sem44     1000000 non-null  float64
 3   sem43     1000000 non-null  float64
 4   sem42     1000000 non-null  float64
 5   sem41     1000000 non-null  float64
 6   totales   1000000 non-null  float64
dtypes: float64(5), int64(1), object(1)
memory usage: 53.4+ MB

In [ ]:
# #cambiar de float a int. No es necesario
# muestra["sem44"] = muestra["sem44"].astype(int)
# muestra["sem43"] = muestra["sem43"].astype(int)
# muestra["sem42"] = muestra["sem42"].astype(int)
# muestra["sem41"] = muestra["sem41"].astype(int)

In [ ]:
# Añadir columnas de porcentajes de cada fila

df["sem44%"] = ((df.loc[:, "sem44"]) / (df.loc[:, "totales"]))*100
df["sem43%"] = ((df.loc[:, "sem43"]) / (df.loc[:, "totales"]))*100
df["sem42%"] = ((df.loc[:, "sem42"]) / (df.loc[:, "totales"]))*100
df["sem41%"] = ((df.loc[:, "sem41"]) / (df.loc[:, "totales"]))*100
df.head()

,Cliente,Producto,sem44,sem43,sem42,sem41,totales,sem44%,sem43%,sem42%,sem41%
0,500000055,BEBIDAS REFRESCANTES,0.4227,0.4227,0.000000,0.422700,1.268100,33.333333,33.333333,0.000000,33.333333
1,500000055,COLAS REGULAR INDIVIDUAL NO RETORNABLE,8.6016,6.0655,12.680500,8.601600,35.949199,23.927097,16.872420,35.273386,23.927097
2,500000055,COLAS REGULAR FAMILIAR RETORNABLE,26.7700,22.8953,46.847499,30.292399,126.805198,21.111122,18.055490,36.944463,23.888926
3,500000055,LECHE UHT SABORIZADA,0.1409,0.1057,0.000000,0.140900,0.387500,36.361290,27.277419,0.000000,36.361290
4,500000055,COLAS LIGHT INDIVIDUAL,0.0000,1.2680,2.536000,1.268000,5.072000,0.000000,25.000000,50.000000,25.000000

In [ ]:
# Group by Producto, client is too detailed?
df_por_producto = df.groupby(["Producto"]).size()
df_por_producto = df_por_producto.to_frame()
df_por_producto

                                              0
Producto
AGUA MINERAL FAMILIAR                     14486
AGUA MINERAL INDIVIDUAL                   49360
AGUA PURIFICADA FAMILIAR                  12769
AGUA PURIFICADA INDIVIDUAL                48843
AGUA SABORIZADA INDIVIDUAL                22207
BEBIDAS DE SOYA FAMILIAR                   3888
BEBIDAS DE SOYA INDIVIDUAL                13930
BEBIDAS ENERGETICAS                       33087
BEBIDAS INFANTILES                        24279
BEBIDAS REFRESCANTES                      33108
COLAS LIGHT FAMILIAR                      23004
COLAS LIGHT INDIVIDUAL                    59421
COLAS REGULAR FAMILIAR NO RETORNABLE      57300
COLAS REGULAR FAMILIAR RETORNABLE         57793
COLAS REGULAR INDIVIDUAL NO RETORNABLE    62070
COLAS REGULAR INDIVIDUAL RETORNABLE       61200
ISOTONICOS                                44180
JUGOS Y NECTARES HOGAR                    51523
LECHE UHT ESPECIALIZADA                    6775
LECHE UHT REGULAR                         30317
LECHE UHT SABORIZADA                      34440
NARANJADAS                                49585
SABORES REGULAR FAMILIAR NO RETORNABLE    47470
SABORES REGULAR FAMILIAR RETORNABLE       19785
SABORES REGULAR INDIVIDUAL NO RETORNABLE  56983
SABORES REGULAR INDIVIDUAL RETORNABLE     46919
TE                                        35278

In [ ]:
df_por_producto.size()